name: _nightly

on:
  schedule:
  - cron: 0 0 * * *
  workflow_dispatch: {}

jobs:
  # Determine the base commit of the selected commit. The output is passed to
  # the `base` job below. If the data already exists for this commit, it will be
  # skipped.
  determine_head:
    runs-on: ubuntu-latest
    outputs:
      commit: ${{ steps.head.outputs.commit }}
    steps:
    - name: Checkout CPython
      uses: actions/checkout@v4
      with:
        persist-credentials: false
        repository: python/cpython
        path: cpython
        ref: main
    - name: Determine head commit
      id: head
      run: |
        cd cpython
        git log -n 1 --format="commit=%H" >> $GITHUB_OUTPUT

  nightly-default-blueberry:
    uses: ./.github/workflows/_benchmark.yml
    needs: determine_head
    with:
      fork: python
      ref: ${{ needs.determine_head.outputs.commit }}
      machine: linux-arm64-blueberry
      benchmarks: all_and_excluded
      pgo: true
      tier2: false
      jit: false
      nogil: false
      tailcall: false
    secrets: inherit
  nightly-jit-blueberry:
    uses: ./.github/workflows/_benchmark.yml
    needs: determine_head
    with:
      fork: python
      ref: ${{ needs.determine_head.outputs.commit }}
      machine: linux-arm64-blueberry
      benchmarks: all_and_excluded
      pgo: true
      tier2: false
      jit: true
      nogil: false
      tailcall: false
    secrets: inherit

  trigger-dashboard:
    runs-on: ubuntu-latest
    needs: [nightly-default-blueberry, nightly-jit-blueberry]
    if: ${{ success() }}
    steps:
    - name: Trigger dashboard update
      run: |
        curl -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.DASHBOARD_REPO_PAT }}" \
          https://api.github.com/repos/savannahostrowski/doesjitgobrrr/dispatches \
          -d '{"event_type":"benchmark_completed"}'
